.Footer {
  background: #232127;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35vh;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li {
  list-style: none;
  padding: 0.7em;
}

a {
  text-decoration: none;
  color: #bfbfbf;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #2acfcf;
}

.Footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  padding: 0.7em 0;
}

a > i {
  font-size: 30px;
}

a > i:hover {
  color: #2acfcf;
}
