.MainContent {
  margin-top: 55px;
}

.MainContent-title {
  color: #34313d;
  text-align: center;
}

.MainContent-text {
  color: #919191;
  font-size: 18px;
  text-align: center;
}

.MainContent-cards {
  display: flex;
  margin: 100px 0;
}

/* .MainContent-cards:nth-child(2) {
  transform: translateY(40px);
} */
