.SubFooter {
  height: 30vh;
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

@media screen and (max-width: 1200px) {
  .SubFooter {
    background-size: 300%;
  }
}

@media screen and (max-width: 750px) {
  .SubFooter {
    background-size: 400%;
    text-align: center;
    height: 40vh;
  }
}
